<!DOCTYPE html>
<html lang="ja" data-page="1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Document</title>
</head>
<body>
    <main>
        <div id="wrap">
            <button id="start-btn">Start</button>
            <button id="stop-btn">Stop</button>
            <div id="result-div"></div>
            <textarea id="text-input" placeholder="ここに音声入力結果が表示されます"></textarea>
            <button id="send-btn">Send</button>
        </div>

        <div class="Container">
            <div class="ChildLeft">
                <figure>
                    <img src="{{url_for('static',filename='images/rogo.png')}}" alt="rogo" />
                </figure>
            </div>
            <div class="ChildRight">
                <header id="header2">
                    <div class="Header">
                        <div class="chatImage">
                            <figure>
                                <img src="{{url_for('static',filename='images/html2.png')}}" alt="html" />
                            </figure>
                        </div>
                        <div class="HeaderStatus">
                            <h1>オフライン</h1>
                        </div>
                        <div class="HeaderImage">
                            <figure>
                                <img src="{{url_for('static',filename='images/icon.png')}}" alt="icon" />
                            </figure>
                        </div>
                    </div>
                </header>
                <div class="output">
                    <pre class="outputText"><code></code></pre>
                </div>
                <div class="input">
                    <div class="form">
                        <input type="text" size="120">
                    </div>
                    <div class="mike">
                        <figure>
                            <img src="{{url_for('static',filename='images/mike.png')}}" alt="mike" />
                        </figure>
                    </div>
                    <div class="download">
                        <figure>
                            <img src="{{url_for('static',filename='images/download.png')}}" alt="download" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>
