<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chat.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/chat.js') }}"> -->
    <title>Document</title>
</head>
<body>
    <main>
        <div id="wrap">
            <button id="start-btn">Start</button>
            <button id="stop-btn">Stop</button>
            <div id="result-div"></div>
        </div>
    </main>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>