<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/index.js') }}"> -->
    <title>index</title>
</head>
<body>
    <main>
        <div id="wrap">

            <div class="Container">


                <div class="ChildLeft">
                  <figure>
                    <img src="{{url_for('static',filename='images/rogo.png')}}" alt="rogo" />
                  </figure>
                </div>
          
          
                <div class="ChildRight">
          
                 
                  <header>
                    <div class="Header">
                      <div class="HeaderStatus">
                        <h1>オフライン</h1>
                      </div>
                      <div class="HeaderImage">
                        <figure>
                          <img src="{{url_for('static',filename='images/icon.png')}}" alt="icon" />
                        </figure>
                      </div>
                    </div>
                  </header>
          
          
                  <h1 class="welcome">{システム名}へようこそ</h1>
          
          
                  <div class="Select">
                    <div class="write" style="width: 21%; aspect-ratio: 1;"><p>Let's<br>write out the<br>programming<br>you want to<br>write!</p></div>
                    <div class="Language" style="width: 21%; aspect-ratio: 1;"><a href="chat_K.html"><img src="{{url_for('static',filename='images/html1.png')}}" alt="html" /></a></div>
                    <div class="Language" style="width: 21%; aspect-ratio: 1;"><a href="chat_K.html"><img src="{{url_for('static',filename='images/css1.png')}}" alt="css" /></a></div>
                    <div class="Language" style="width: 21%; aspect-ratio: 1;"><a href="chat_K.html"><img src="{{url_for('static',filename='images/js1.png')}}" alt="js" /></a></div>
                    <div class="Language" style="width: 21%; aspect-ratio: 1;"><a href="chat_K.html"><img src="{{url_for('static',filename='images/python1.png')}}" alt="python" /></a></div>
                    <div class="Language" style="width: 21%; aspect-ratio: 1;"></div>
                  </div>
          
          
                </div>
              
          
              </div>

        </div>
    </main>
</body>
</html>