<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/HTML名.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/HTML名.js') }}">
    <title>Document</title>
</head>
<body>
    <main>
        <div id="wrap">

            タイトル、CSS、JSへのパス変更して！！

        </div>
    </main>
</body>
</html>